<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu site</title>
</head>
<body>
    <ul>Menu
        <li><a href="/">Index</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/tabuada">Tabuada</a></li>
        <li><a href="/area/10.0/5.0">Area</a></li>
        <li><a href="/nomesobrenome">Nome e Sobrenome</a></li>
        <li><a href="/potencia/5.0/4.0">Potencia</a></li>
        <li><a href="/parimpar/4.0">Par impar</a></li>
        <li><a href="/juros">Juros</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/imc">IMC</a></li>


    </ul>
    {% block content %}
    {% endblock %}
    
</body>
</html>